<h1>Create New Mass Text Message</h1>
<hr/>
<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div class='well'>

      <%= form_for @message do |f| %>

          <div class="form-group">
            <%= f.label :name, "Name of Message*:", { :for => "messageNameField" } %>
            <%= f.text_field :name, {:class=>"form-control", :id => 'messageNameField'} %>
            <p>(*this name is for you (core member) to keep track of, but is not sent in the actual text)</p>
          </div>

          <br/>

          <div class="form-group">
            <%= f.label :content, 'Content of Message**:', { :for => "messageContentField" } %>
            <%= f.text_area :content, {:class=>"form-control", :id => 'messageContentField'} %>
            <p>(**to insert dynamic fields, use double curly braces, with fields that correspond to fields in the txt-cohort entries .csv file.
              For example, if you type "Hi, {{name}}, this is a text.", and you have an entry with the field name="Tyler", you will see "Hi Tyler, this is a text."</p>
          </div>

          <br/>

          <div class="form-group">
            <%= f.label :content, 'Text Cohort: ', { :for => "messageCohortIDField" } %>
            <%= f.collection_select :text_cohort_id, TextCohort.all, :id, :name, {:class=>'form-control', :id => 'messageCohortIDField'}  %>
          </div>

            <div class="form-group">
                <%= f.submit('Create Message') %>
            </div>


    <% end %>

      <br/>

      </div>
    </div>
  </div>
</div>

