<% headers = ['First Name', 'Last Name', 'Phone Number','Email', 'Sent At'] %>

<h1><%= "Mentee Outreach - Responses & Contact Info" %></h1>
<div class="well">
  <%= link_to("List Phone Numbers", :action=>'phone_numbers') %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to("List Emails", :action=>'emails') %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to("Export to csv", :action=>'export_to_csv') %>

</div>

  <table class="table table-striped table-bordered">
  <tr>
    <% headers.each do |h| %>
      <th><%= h %></th>
    <% end %>
  </tr>
  <% @responses.each do |response| %>
    <tr>
      <td><%= response.first_name %></td>
      <td><%= response.last_name %></td>
      <td><%= response.format_phone %></td>
      <td><%= response.email %></td>
      <td><%=response.format_sent_at %></td>
    </tr>
  <% end %>
</table>
